fastapi
uvicorn
python-dotenv
pydantic

openai>=1.0.0
pinecone==5.0.1   

aiohttp
httpx
requests

google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2

pandas

tenacity
langdetect==1.0.9

gspread
google-auth

